
html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }

* {
	box-sizing: border-box;
}

body {
	font-family: "Lucida Grande";
}

a {
	text-decoration: none;
}

header {
	height: 65px;
	width: 100%;
	background-color: #6b6261;
	position: fixed;
	top: 0;
	z-index: 10;
}

footer {
	width: 100%;
	padding: 10px 0;
	background-color: #6b6261;
}

footer p {
	color: white;
	font-size: 19px;
	text-align: center;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.logo {
	width: 200px;
	margin: -65px -15px;
}

.header-left {
	float: left;

}

.header-right {
	float: right;
	margin-right: -25px;
}

.header-right a {
	line-height: 65px;
	padding: 0 25px;
	color: white;
	display: block;
	float: left;
	transition: all 0.5s;
}

.header-right a:hover {
	background-color: rgba(201, 192, 191, 0.3);
}

.menu-icon {
	color: white;
	float: right;
	font-size: 30px;
	padding: 15px 0;
	display: none;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url("image/Musik.jpg");
	background-size: cover;
	color: black;
	font-weight: bold;
	text-align: center;
}

.top-wrapper h1 {
	opacity: 0.8;
	font-size: 45px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.top-wrapper h2 {
	opacity: 0.8;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.top-wrapper p {
	opacity: 0.7;
	margin-bottom: 3px;
}

.btn-wrapper {
	text-align: center;
	margin: 20px 0;
}

.btn-wrapper h2 {
	margin: 10px 0;
}

.instagram {
	background-color: #b31200;
	margin: 10px;
}

.facebook {
	background-color: #3b5998;
	margin: 10px;
}

.twitter {
	background-color: #55acee;
	margin: 10px;
}

.btn {
	padding: 12px 24px;
	color: white;
	display: inline-block;
	opacity: 0.9;
	border-radius: 4px;
	text-align: center;
}

.btn:hover {
	opacity: 1;
}

.fa {
	margin-right: 5px
	display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  webkit-font-smoothing: antialiased;
}

.clear {
	clear: left;
}

.lesson-wrapper {
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
	text-align: center;
}

.heading {
	padding-top: 80px;
	padding-bottom: 50px;
	color: #5f5d60;
}

.heading h2 {
	font-weight: normal;
}

.heading h3 {
	font-weight: normal;
}

.lesson {
	float: left;
	width: 33%;

}

.lesson-icon {
	position: relative;
}

.lesson4 {
	float: left;
	width: 50%;
}

.lesson5 {
	float: left;
	width: 50%;
}

.lesson-icon img {
	height: 280px;
  width: 264px;
  padding: 20px;
	border-radius: 70px;
	margin-top: 20px;
}

.nama-mentor {
	width: 80%;
	display: inline-block;
	margin: 5px auto;
	font-size: 20px;
	font-weight: bold;
	color: Black;
}

.text-contents {
	width: 80%;
	display: inline-block;
	font-size: 20px;
	font-weight: lighter;
	color: Blue;
	margin:auto;

}

.message-wrapper {
	border-bottom: 1px solid #eee;
	padding-bottom: 80px;
	text-align: center;
}

.message {
	padding: 15px 40px;
	background-color: #bf5252;
	cursor: pointer;
	box-shadow: 0 6px #d62b2b;
}

.message:active {
	position: relative;
	top: 7px;
	box-shadow: none;
}

.contact-form {
	padding: 100px 0 50px 100px;
}

.contact-form span {
	color: #ff0000;
}

.section-title {
	border-bottom: 2px solid #dee7ec;
	font-size: 28px;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

.contact-submit {
	background-color: #bf5252;
	color: white;
	box-shadow: 0 5px #d62b2b;
	cursor: pointer;
}

.contact-submit:active {
	position: relative;
	top: 7px;
	box-shadow: none;
}

input, textarea {
	width: 300px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 18px;
	border: 1px solid #dee7ec;
}

/* Untuk Tablet */
@media (max-width: 1000px) {
  .lesson-icon img {
    width: 80%;
  }

	.contact-submit {
	 width: 80%;
 	}
}

/* Untuk Smartphone */
@media (max-width: 670px) {
  .lesson-icon img {
    width: 100%;
  }
	.contact-submit {
	 width: 70%;
	}
}
